
.bg-red 
{
    border: 1px solid #ee2737;
    color: #ee2737;
}

.bg-red:hover
{
    background:#ee2737;
    color: #FFF;
}

.bg-orange 
{
    border: 1px solid #ff5e1c;
    color: #ff5e1c;
}

.bg-orange:hover
{
    background:#ff5e1c;
    color: #FFF;
}

.bg-yellow 
{
    border: 1px solid #ffc42b;
    color: #ffc42b;
}

.bg-yellow:hover
{
    background:#ffc42b;
    color: #FFF;
}

.bg-green 
{
    border: 1px solid #00e0c2;
    color: #00e0c2;
}

.bg-green:hover
{
    background:#00e0c2;
    color: #FFF;
}

.bg-blue 
{
    border: 1px solid #35cdec;
    color: #35cdec;
}

.bg-blue:hover
{
    background:#35cdec;
    color: #FFF;
}

.bg-pink 
{
    border: 1px solid #eb2e8a;
    color: #eb2e8a;
}

.bg-pink:hover
{
    background:#eb2e8a;
    color: #FFF;
}

.bg-purple 
{
    border: 1px solid #6560f8;
    color: #6560f8;
}

.bg-purple:hover
{
    background: #6560f8;
    color: #FFF;
}