.btn-primary
{
    background-color: #3742fa;
    border: 1px solid #3742fa;
    color: #FFF !important;
    border-radius: 6px;
}

.btn-primary:hover
{
    background-color: #5352ed;
    border: 1px solid #5352ed;
}


.btn-outline-primary
{
    border: 1px solid #3742fa;
    color: #3742fa !important;
    border-radius: 6px;
}

.btn-outline-primary:hover
{
    border: 1px solid #3742fa;
    background: #FFF;
    color: #3742fa !important;
}

.btn-secondary
{
    background-color: #f39c12;
    border: 1px solid #f39c12;
    color: #FFF !important;
}

.btn-secondary:hover
{
    background-color: #e67e22;
    border: 1px solid #e67e22;
}


.btn-outline-secondary
{
    border: 1px solid #e67e22;
    color: #e67e22 !important;
    border-radius: 6px;
}

.btn-outline-secondary:hover
{
    border: 1px solid #e67e22;
    background: #FFF;
    color: #e67e22 !important;
}