.btn-primary
{
    background-color: #10AC84;
    border: 1px solid #10AC84;
    color: #FFF !important;
    border-radius: 6px;
}

.btn-primary:hover
{
    background-color: #10AC84;
    border: 1px solid #10AC84;
}


.btn-outline-primary
{
    border: 1px solid #10AC84;
    color: #10AC84 !important;
    border-radius: 6px;
}

.btn-outline-primary:hover
{
    border: 1px solid #10AC84;
    background: #FFF;
    color: #10AC84 !important;
}

.btn-secondary
{
    background-color: #08AEEA;
    border: 1px solid #08AEEA;
    color: #FFF !important;
}

.btn-secondary:hover
{
    background-color: #08AEEA;
    border: 1px solid #08AEEA;
}


.btn-outline-secondary
{
    border: 1px solid #08AEEA;
    color: #08AEEA !important;
    border-radius: 6px;
}

.btn-outline-secondary:hover
{
    border: 1px solid #08AEEA;
    background: #FFF;
    color: #08AEEA !important;
}