.div-contact
{
    background: rgba(55, 66, 250, 0.1);
    padding: 25px;
    border-radius: 32px;
    margin: 3% 0%;
}

.div-contact p 
{
    font-size: 20px;
}

.contact-form
{
    background: #FFF;
    padding: 25px;
    border-radius: 12px;
}

.contact-form .row
{
    margin: 15px 0px;
}
