.list-menu-my-announcement li a
{
    font-size: 18px;
    padding: 0px 15px;
}

.itens-my-announcement
{
    margin: 2% 0%;
    padding-bottom: 10px;
    border-bottom: 1px solid #c2cdda;
}

.itens-my-announcement img
{
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.alert-orange
{
    color: #E67E22;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #E67E22;
    width: auto;
    padding: 5px 15px;
}

.alert-outline-danger
{
    color: #ee2737;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ee2737;
    width: auto;
    padding: 5px 15px;
}
