.search-main
{
    margin: 4% 0%;
}

.search-main input
{
    border-radius: 12px;
}

.div-search h1
{
    background-color: #21D4FD;
    /*background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);*/
    background-image: linear-gradient(19deg, #08AEEA 0%, #2AF598 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 0;
    font-size: 48px;
    line-height: 120%;
    font-weight: 700;
}

.div-input-filter .row
{
    width: 100% !important;
    margin-top: 1rem;
    padding: 15px 0px;
    border-radius: 8px;
    //-webkit-box-shadow: 0px 6px 30px 0px rgb(0 0 0 / 10%);
    //-moz-box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.1);
    //box-shadow: 0px 6px 30px 0px rgb(0 0 0 / 10%);
}
